
* {
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    margin: 0;
    color: #3b2e2b;
    background-color: #e9e6e6;
    display: flex;
    align-items: center;
    flex-direction: column;
    min-height: 100vh;
}

h1 {
    text-align: center;
    color: #8d64b5;
    font-size: 4rem;
    opacity: 0.4;
}

form {
    width: 400px;
    max-width: 100%;
    box-shadow: 0 4px 10px rgba(0,0,0, 0.4);
}

.input {
    width: 100%;
    display: block;
    border: none;
    padding: 0.8rem 1.6rem;
    font-size: 2rem;
    color: #3b2e2b;
}

.input::placeholder {
    color: #B5B5B5;
}

.todos {
    background-color: #FFFFFF;
    padding: 0;
    margin: 0;
    list-style-type: none;
}

.todos li {
    padding: 0.8rem 1.6rem;
    font-size: 1.5rem;
    border-top: 1px solid #E5E5E5;
    cursor: pointer;
}

.todos li.completed {
    color: #a7a4a4;
    text-decoration: line-through;
}

small {
    color: #B5B5B5;
    margin-top: 2rem;
}